<div class="bg-primary text-white m-2 p-2">
  There are {{ model.getProducts().length }} products in the repository
</div>

<!-- Property Binding Examples -->
<!-- <div>
  <h2>{{product.name}}</h2>
  <h2 [textContent]="product.name"></h2>
  <img src="assets/img/{{ product.imageUrl }}">
  <img [src]="'assets/img/'+product.imageUrl">
</div> -->

<div [class]="getClasses(1)">
  Most selling phone: {{ model.getProductById(1).name }}
</div>


<div [class]="getClasses(4)">
  Most selling phone: {{ model.getProductById(4).name }}
</div>

<button class="btn btn-primary" [class.disabled]="disabled">Show More</button>

<div class="m-2 p-2" [ngClass]="getClassMap(1)">
  <span [ngStyle]="getStyles(1)"> Most selling </span> phone: {{
  model.getProductById(1).name }}
</div>


<div class="m-2 p-2" [ngClass]="getClassMap(4)">
  <span [ngStyle]="getStyles(4)"> Most selling </span> phone: {{
  model.getProductById(4).name }}
</div>