<!-- Property Binding Examples -->
<!-- <div>
  <h2>{{product.name}}</h2>
  <h2 [textContent]="product.name"></h2>
  <img src="assets/img/{{ product.imageUrl }}">
  <img [src]="'assets/img/'+product.imageUrl">
</div> -->

<!-- Class & Style Binding Examples -->
<!-- <div [class]="getClasses(1)">
  Most selling phone: {{ model.getProductById(1).name }}
</div>


<div [class]="getClasses(4)">
  Most selling phone: {{ model.getProductById(4).name }}
</div>

<button class="btn btn-primary" [class.disabled]="disabled">Show More</button>

<div class="m-2 p-2" [ngClass]="getClassMap(1)">
  <span [ngStyle]="getStyles(1)"> Most selling </span> phone: {{
  model.getProductById(1).name }}
</div>


<div class="m-2 p-2" [ngClass]="getClassMap(4)">
  <span [ngStyle]="getStyles(4)"> Most selling </span> phone: {{
  model.getProductById(4).name }}
</div> -->

<!-- Event Binding Examples -->
<!-- <div (click)="onDivClicked()" style="width: 250px; background-color: brown;">
  <button name="btn1" (click)="onSubmit($event)">Submit</button>
  <button name="btn2" (click)="onSubmit($event)">Submit</button>
</div> -->

<!-- KeyUp Event Examples -->
<!-- <input (keyup)="onKeyUp($event)" />
<input #email (keyup.enter)="onKeyUpEnter(email.value)" /> -->

<!-- <input [value]="email" (keyup.enter)="email = $event.target.value; onKeyUp()" /> -->

<!-- Two Way Binding Examples -->
<!-- <input [(ngModel)]="email" (keyup.enter)="onKeyUp()" />
<br>
<span>{{ email }}</span> -->

<!-- Built-in Pipes Examples -->
<!-- <h4>Lower-Upper-Title CasePipe</h4>
<p>{{ title }}</p>
<p>{{ title | uppercase }}</p>
<p>{{ title | lowercase }}</p>
<p>{{ title | titlecase }}</p>
<br>
<h4>Date Pipe</h4>
<p>{{ today }}</p>
<p>{{ today | date }}</p>
<p>{{ today | date: 'short' }}</p>
<p>{{ today | date: 'h:mm:ss' }}</p>
<br>
<h4>Decimal Pipe</h4>
<p>{{ students }}</p>
<p>{{ students | number }}</p>
<p>{{ price | number: '1.2-2' }}</p>
<br>
<h4>Currency Pipe</h4>
<p> {{ price | currency: 'EUR' }}</p>
<br>
<h4>Percent Pipe</h4>
<p>{{ completed | percent: '1.2-2' }}</p> -->

<!-- Custom Pipes Examples -->
<!-- {{ text | summary:15 }} -->

<!-- Angular Ng-If Examples  -->
<!-- <div *ngIf="model.getProducts().length > 0; then productList else EmptyProductList">
</div>

<ng-template #productList>
  <div class="bg-primary text-white m-2 p-2">
    There are {{ model.getProducts().length }} products in the repository.
  </div>
</ng-template>

<ng-template #EmptyProductList>
  <div class="bg-primary text-white m-2 p-2">
    There are no products in the repository.
  </div>
</ng-template>

<div [hidden]="model.getProducts().length == 0" class="bg-primary text-white m-2 p-2">
  There are {{ model.getProducts().length }} products in the repository.
</div>

<div [hidden]="model.getProducts().length != 0" class="bg-primary text-white m-2 p-2">
  There are no products in the repository.
</div> -->

<!-- Angular Ng-Switch Examples -->
<!-- <div class="bg-info m-2 p-2" [ngSwitch]="model.getProductCount()">
  <span *ngSwitchCase="0">There are no products</span>
  <span *ngSwitchCase="1">There is 1 product</span>
  <span *ngSwitchCase="2">There are 2 products</span>
  <span *ngSwitchDefault>There are many products</span>
</div>

<div class="bg-info m-2 p-2" [ngSwitch]="model.getProductById(2).name">
  <span *ngSwitchCase="productName">Samsung S20 FE</span>
  <span *ngSwitchCase="'Iphone 11 Pro'">Iphone 11 Pro</span>
  <span *ngSwitchCase="'Xiaomi Redmi 12'">Xiaomi Redmi 12</span>
  <span *ngSwitchCase="'Iphone 13 Pro Max'">Iphone 13 Pro Max</span>
  <span *ngSwitchCase="'Poco F1'">Poco F1</span>
  <span *ngSwitchDefault>Undefined Phone</span>
</div> -->

<!-- Angular Ng-For and Change-Detection Examples -->
<!-- <div class="m-5">
  <button class="btn btn-primary" (click)="addProduct()">Add Product</button>
  <ul class="list-group mt-2">
    <li
      *ngFor="let product of model.getProducts(); index as i; first as isFirst; last as isLast; odd as isOdd; even as isEven;"
      class="list-group-item">
      {{i+1}} - {{product.name}}
      <button class="btn btn-danger p-10 m-1" (click)="deleteProduct(product)">Delete</button>
      <button class="btn btn-warning p-10 m-1" (click)="updateProduct(product)">Update</button>
      <span *ngIf="isFirst" class="badge bg-primary">First Item</span>
      <span *ngIf="isLast" class="badge bg-secondary">Last Item</span>
      <span *ngIf="isEven" class="badge bg-info"> Even numbered Item</span>
      <span *ngIf="isOdd" class="badge bg-warning"> Odd numbered Item</span>
    </li>
  </ul>
</div> -->

<!-- Angular NgTemplate Examples -->
<!-- <ng-template [ngTemplateOutlet]="productList" [ngTemplateOutletContext]="{products: model.getProducts()}"></ng-template>
<ng-template [ngTemplateOutlet]="productList" [ngTemplateOutletContext]="{products: model.getProducts()}"></ng-template>

<ng-template #productList let-products="products">
  <div class=" m-5">
    <ul class="list-group mt-2">
      <li *ngFor="let product of products;" class="list-group-item">
        {{product.name}}
      </li>
    </ul>
  </div>
</ng-template> -->

<!-- Custom Directives Examples -->
<!-- <input type="text" appInputEmail> -->

<!-- <admin-products></admin-products> -->

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="m-3">
        <div class="bg-info text-white m-2 p-2">
          {{ jsonProduct }}
        </div>
        <div class="form-group">
          <label>Name</label>
          <input required minlength="3" maxlength="20" pattern="^[A-Za-z]+$" [(ngModel)]="newProduct.name" name="name"
            #name="ngModel" type="text" class="form-control" (change)="log(name)">
          <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
            <p *ngFor="let error of getValidationErrors(name)">
              {{ error }}
            </p>
          </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea required minlength="10" maxlength="200" pattern="^[A-Za-z]+$" [(ngModel)]="newProduct.description"
            name="description" #description="ngModel" class="form-control"></textarea>
          <div class="alert alert-danger" *ngIf="description.invalid && description.touched">
            <p *ngFor="let error of getValidationErrors(description)">
              {{ error }}
            </p>
          </div>
        </div>
        <div class="form-group">
          <label>Price</label>
          <input required pattern="^[0-9]+$" [(ngModel)]="newProduct.price" name="price" #price="ngModel" type="text"
            class="form-control">
          <div class="alert alert-danger" *ngIf="price.invalid && price.touched">
            <p *ngFor="let error of getValidationErrors(price)">
              {{ error }}
            </p>
          </div>
        </div>
        <div class="form-group">
          <label>Image Url</label>
          <input required [(ngModel)]="newProduct.imageUrl" name="imageUrl" #imageUrl="ngModel" type="text"
            class="form-control">
          <div class="alert alert-danger" *ngIf="imageUrl.invalid && imageUrl.touched">
            <p *ngFor="let error of getValidationErrors(imageUrl)">
              {{ error }}
            </p>
          </div>
        </div>
        <button (click)="addProduct(newProduct)" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>