<div class="bg-primary text-white m-2 p-2">
  There are {{ model.getProducts().length }} products in the repository
</div>

<!-- Property Binding Examples -->
<!-- <div>
  <h2>{{product.name}}</h2>
  <h2 [textContent]="product.name"></h2>
  <img src="assets/img/{{ product.imageUrl }}">
  <img [src]="'assets/img/'+product.imageUrl">
</div> -->

<!-- Class & Style Binding Examples -->
<!-- <div [class]="getClasses(1)">
  Most selling phone: {{ model.getProductById(1).name }}
</div>


<div [class]="getClasses(4)">
  Most selling phone: {{ model.getProductById(4).name }}
</div>

<button class="btn btn-primary" [class.disabled]="disabled">Show More</button>

<div class="m-2 p-2" [ngClass]="getClassMap(1)">
  <span [ngStyle]="getStyles(1)"> Most selling </span> phone: {{
  model.getProductById(1).name }}
</div>


<div class="m-2 p-2" [ngClass]="getClassMap(4)">
  <span [ngStyle]="getStyles(4)"> Most selling </span> phone: {{
  model.getProductById(4).name }}
</div> -->

<!-- Event Binding Examples -->
<!-- <div (click)="onDivClicked()" style="width: 250px; background-color: brown;">
  <button name="btn1" (click)="onSubmit($event)">Submit</button>
  <button name="btn2" (click)="onSubmit($event)">Submit</button>
</div> -->

<!-- KeyUp Event Examples -->
<!-- <input (keyup)="onKeyUp($event)" />
<input #email (keyup.enter)="onKeyUpEnter(email.value)" /> -->

<!-- <input [value]="email" (keyup.enter)="email = $event.target.value; onKeyUp()" /> -->

<!-- Two Way Binding Examples -->
<!-- <input [(ngModel)]="email" (keyup.enter)="onKeyUp()" />
<br>
<span>{{ email }}</span> -->

<!-- Built-in Pipes Examples -->
<!-- <h4>Lower-Upper-Title CasePipe</h4>
<p>{{ title }}</p>
<p>{{ title | uppercase }}</p>
<p>{{ title | lowercase }}</p>
<p>{{ title | titlecase }}</p>
<br>
<h4>Date Pipe</h4>
<p>{{ today }}</p>
<p>{{ today | date }}</p>
<p>{{ today | date: 'short' }}</p>
<p>{{ today | date: 'h:mm:ss' }}</p>
<br>
<h4>Decimal Pipe</h4>
<p>{{ students }}</p>
<p>{{ students | number }}</p>
<p>{{ price | number: '1.2-2' }}</p>
<br>
<h4>Currency Pipe</h4>
<p> {{ price | currency: 'EUR' }}</p>
<br>
<h4>Percent Pipe</h4>
<p>{{ completed | percent: '1.2-2' }}</p> -->

{{ text | summary:15 }}